<br>
<div class="jumbotron">
  <h1>Roomies</h1>
  <p>The sanity app for keeping roommates happy!</p>
  <p>

  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Solves world hunger</h2>
    <p>Roomies will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-6">
    <h2>Eliminates poverty</h2>
    <p>Roomies will deliver money and education to those in need, all over the world.</p>
  </div>
</div>
